body{
    background-color: black;
}

.grid-container{
    display:grid;
    grid-row-gap: 5px;
    grid-column-gap: 20px;
    padding: 2% 5% 2% 5%;
    grid-template-columns: repeat(5,minmax(0,1fr));
    grid-template-rows: repeat(5, minmax(150px, auto));
    background-color: #89C4F4;
}

.picture {
    grid-column: span 1;
}

.picture img{
    display: grid;
    border-radius:40%;
    width: 100%;
    height:100%;
    object-fit: cover;
}

.about{
    grid-column: 2/6;
    background-color: #317589;
    color:white;
    font-family: 'Frank Ruhl Libre', serif;
}

.inner-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column:1/6;
    grid-column-gap: 5px   
}

.inner-grid img{
    width: 20%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.education{
    grid-column: 1/2;
    padding: 25% 25% 25% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: 'Frank Ruhl Libre', serif;
}

.alcorn_education{
    grid-column:2/3;
}

.columbia_education{
    grid-column:3/4;
}

.alcorn_education img{
    width: 100%;
    height:100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.columbia_education img{
    width: 100%;
    height:100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.work{
    grid-column: 1/2;
    padding: 25% 25% 25% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: 'Frank Ruhl Libre', serif;
}

.columbia{
    grid-column: 2/3;
}

.credit{
    grid-column: 3/4;
}

.cree{
    grid-column: 4/5;
}

.alcorn{
    grid-column: 5/6;
}

.columbia img{
    width: 100%;
    height:100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.credit img{
    width: 100%;
    height:100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.cree img{
    width: 100%;
    height:100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.alcorn img{
    width: 100%;
    height:100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.travel{
    grid-column: 1/2;
    padding: 25% 25% 25% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: 'Frank Ruhl Libre', serif;
}

.future{
    grid-column: 1/2;
    padding: 25% 25% 25% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: 'Frank Ruhl Libre', serif;
}
